/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.my-row {
    display: flex;
}



/* MAIN */
main {
    height: calc(100vh - 70px);
}


/* FOOTER */
footer {
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #222222;
}
footer .col-15 {
    width: 15%;
}
footer .col-70 {
    width: 70%;
}
footer > .my-row {
    flex-wrap: nowrap;
}
footer button {
    background-color: #222222;
    color: white;
    height: calc(100px - 20px);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    margin: 10px;
    margin-right: 0;
}
footer button .my-row {
    height: 70px;
}
footer button .button-info {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .my-row i:not(.select) {
    font-size: 1.5em;
    margin-bottom: 3px;
}
footer .my-row h4 {
    font-size: 0.75em;
    font-weight: normal;
}
footer .my-row button .select {
    font-size: 0.75em;
}
footer .my-row .col-70 .share .fa-share {
    color: green;
}
footer .my-row .col-70 .my-row {
    justify-content: center;
}
footer .my-row .col-15 .end-call {
    margin-left: 30%;
    width: 70%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: red;
    background-color: rgba(255, 255, 255, 0.1);
}



/* DEBUG */
.debug main {
    background-color: teal;
}
/* .debug footer {
    background-color: orange;
}
.debug footer .my-row .col-70:not(:first-child) {
    border: 2px dotted black;
} */